<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>検索画面</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</Head>
<div th:include="header"></div>
<!-- Breadcrumbs -->
<ul class="breadcrumb">
    <li>検索画面</li>
</ul><!-- Breadcrumbs -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="#" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">キーワード</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Java" name="keyword">
                        </div>
                </div>
                <div class="text-center">
                    <button type="submit" value="検索" class="btn btn-primary">検索</button>
                    <button type="reset" value="クリア" class="btn btn-default">クリア</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>書名</th>
            <th>著者</th>
            <th>出版社</th>
            <th>キーワード</th>
            <th>ISBN</th>
            <th>登録日</th>
            <th>状態</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="book:${book}" th:object="${book}">
            <td th:text="*{title}"></td>
            <td th:text="*{auhor}"></td>
            <td th:text="*{publisher}"></td>
            <td th:text="*{keyword}"></td>
            <td th:text="*{isbn}"></td>
            <td th:text="*{issueYear}"></td>
            <td></td>
          </tr>
        </tbody>
    </table>
</div>
</html>
